[gpg]
	format = ssh

[includeIf "os:Linux"]
    path = ~/.gitconfig-linux

[includeIf "os:Darwin"]
    path = ~/.gitconfig-macos

[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP+6Z+KzWEnlhrld1FHtyS+ErXl/3SGlbeXAXPA006Tx
	email = git@dafnik.me
	name = Dafnik

[commit]
	gpgSign = true

[tag]
	forceSignAnnotated = true

[init]
	defaultBranch = main

[core]
	autocrlf = input
	fileMode = false
